<div class="container pt-4">
  <div class="d-flex justify-content-center loading-events" *ngIf="isLoadingPage">
    <app-loading></app-loading>
  </div>
  <ng-container *ngIf="!isLoadingPage">
    <div *ngFor="let date of eventDates; let i = index" class="pt-1 event-day">
      <h4 class="mb-3 mt-3">
        <i class="fas fa-calendar-day"></i>
        {{ date | date:'fullDate' }}
      </h4>
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-2">
        <div *ngFor="let event of events[date]" class="col event-card mb-3">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </div>
      <hr>
    </div>
    <h4 *ngIf="!eventDates.length" id="no-event-results" class="mb-3 mt-3">
      No results found...
    </h4>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (eventChangePage)="loadEvents({ page: $event })">
    </app-pagination>
  </ng-container>
</div>
